@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";

html {
    position: rleative;
    min-height: 100%;
}

body, #rooms, #chit-container, #elm-main, #chitoudl  {
    margin-bottom: 4em;
    
}

#rooms {
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #f1f1f1;
    height: 100%;
    position: fixed;
    

    li a {
        display: block;
        padding: 8px 0 8px 16px;
    }
    li a:hover {
        background-color: #555;
        color: white;
    }
}

#chits {
    margin-left: 15%;
    padding: 1px 16px;
    margin-bottom: 4em;
}


#footer {
    position: fixed;
    bottom: 0px;
    background: desaturate(darken($action-color, 20%), 30%);
    padding: 1em;
    width: 100%;
    display: inline-block;
    height: 4em;
    
    #input-name {
        width: 15%;
        float: left;
        
    }
    #input-msg {
        width: 70%;
        float: left;
        
    }
}
