html {
  position: relative;
  min-height: 100%;
}
body, main, #elm-main, #chitoudl {
  /* Margin bottom by footer height */
  margin-top: 50px;
  margin-bottom: 120px;
}

#footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  padding-top: 1em;
  background-color: #f5f5f5;
}

#messages {
  margin-top: 0px;
}
